
main nav, main section, main aside {
  display: inline-block;
  vertical-align: top;
}

main nav {
  width: 25%;
}

main section {
  width: 50%;
}

main section p {
  margin-top: 0;
}

main aside {
  width: 25%;
}

main aside ul {
  margin-top: 0;
}

/*
main nav a {
  display: block;
  color: rgb(194, 30, 31);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  margin-bottom: 6px;
  padding-left: 8px;
  transition: all 0.25s;
}

main nav a:hover {
  background-color: #dddddd;
  padding-left: 18px;
  color: black;
}

nav ul {
  list-style-type: none;
  margin: 0 1em 0 0;
  padding: 0;
}
*/

/*nav ul li {
  position: relative;
}*/

/*
.sublist {
  position: absolute;
  margin-left: 130px;
  margin-top: -30px;
  opacity: 0;
  transition: all 0.25s;
}

li:hover .sublist {
  opacity: 1;
  transition: all 0.25s 0.25s;
}

nav .sublist:hover {
  opacity: 1;
  transition: all 0.25s 0.25s;
}
*/

img {
  transition: all 0.5s;
  margin-top: 40px;
}

  img:hover {
    background-color: blue;
    border-radius: 50%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}



  .hide {
    opacity: 0;
}

    .off-screen {
      margin-top: calc(50% + 100px);
      transform: rotate(2745deg);
}

.pop-out {
  width: 300px;
  height: 300px;
  opacity: 0;
  margin-top: -40;
}
